{% extends "base-card.html" %}

{% block title %}ログイン{% endblock title %}

{% block card_header %}ログイン{% endblock card_header %}

{% block card_body %}

    <form method="post">
        {% csrf_token %}

    {% if form.errors %}
        <p style="color: red">ユーザー名とパスワードが一致しません。</p>
    {% endif %}

        <div class="form-floating mb-3">
            <input type="text" name="username" class="form-control" id="id_username" autocapitalize="none" autocomplete="username" placeholder="ユーザー名">
            <label for="id_username">ユーザー名</label> 
        </div>

        <div class="form-floating mb-3">
            <input name="password" class="form-control" id="id_password" type="password" placeholder="パスワード">
            <label for="id_password">パスワード</label>
        </div>

{% endblock card_body %}

{% block card_anchor %}<a class="small" href={% url "password_reset" %}>パスワードを忘れましたか？</a>{% endblock card_anchor %}

{% block card_footer %}
    </div>
        <div class="card-footer text-center py-3">
            <div class="small"><a href={% url "account:register" %}>新規登録</a></div>
{% endblock card_footer %}