{% extends "base.html" %}

{% block title %}パスワードの変更：メール送信{% endblock title %}

{% block main %}

    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 my-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header"><h3 class="text-center font-weight-light my-4">パスワードの変更</h3></div>
                        <div class="card-body">
                            <!-- 参考リンク -->
                            <!-- https://teratail.com/questions/319843 -->
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <ul class="list-unstyled" style="list-style: none;">
                                    <li class="alert alert-success">
                                        メールを送信しました
                                    </li>
                                </ul>

                                <div class="form-floating mb-3">

                                    <!-- 参考リンク -->
                                    <!-- https://getbootstrap.jp/docs/5.3/forms/form-control/ -->
                                    <input class="form-control" type="email" aria-label="readonly input example" disabled>
                                    <label for="id_email">メールアドレス</label>
                                </div>

                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                <a class="small" href={% url "account:login" %}>{% if user.is_authenticated %}ホームに戻る{% else %}ログインページに戻る{% endif %}</a>
                                <input class="btn btn-primary" type="submit" value="完了" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock main %}
