{% extends "base-card.html" %}

{% block title %}パスワードの変更{% endblock title %}

{% block card_header %}パスワードの変更{% endblock card_header %}

{% block card_body %}

    {% if form.email.success %}
    <ul class="list-unstyled" style="list-style: none;">
        <li class="alert alert-success">
            メールを送信しました
        </li>
    </ul>
    {% endif %}

    <div class="form-floating mb-3">

        <input name="email" class="form-control" id="id_email" type="email" placeholder="メールアドレス">
        <label for="id_email">メールアドレス</label>
        
    </div>

{% endblock card_body %}

{% block card_anchor %}<a class="small" href={% url "account:login" %}>{% if user.is_authenticated %}ホームに戻る{% else %}ログインページに戻る{% endif %}</a>{% endblock card_anchor %}