<!-- 参考リンク -->
<!-- https://se-memorandum.com/modal/ -->

<div class="modal fade" id="delete-Modal-{{ object.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">商品の削除</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- 参考リンク -->
          <!-- https://getbootstrap.jp/docs/4.2/utilities/vertical-align/ -->
          <!-- https://getbootstrap.jp/docs/5.3/components/buttons/ -->
          <span class="align-middle">本当に削除しますか？</span>
        </div>
        <div class="modal-footer">
            <form method='POST' action="{% url 'inventory_register:delete' object.pk %}">
            {% csrf_token %}
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
              <button type="submit" class="btn btn-danger">削除</button>
            </form>
      </div>
    </div>
  </div>