{% extends "base-card.html" %}

{% block title %}編集：{{object.item_name}}{% endblock title %}

{% block card_header %}編集{% endblock card_header %}

{% block card_body %}
    <span class="small" style="color: red">{{ form.part_number.errors }}</span>
    <div class="form-floating mb-3">
        <input value={{object.part_number}} name="part_number" class="form-control" id="id_part_number" type="text" autocapitalize="none" placeholder="商品番号">
        <label for="id_part_number">商品番号 ※重複不可</label> 
    </div>

    <div class="form-floating mb-3">
        <input value={{object.item_name}} name="item_name" class="form-control" id="id_item_name" type="text" autocapitalize="none" autocomplete="item_name" placeholder="商品名">
        <label for="id_item_name">商品名</label> 
    </div>

    <!-- 参考リンク -->
    <!-- https://developer.mozilla.org/ja/docs/Web/HTML/Reference/Elements/input/number -->
    <div class="form-floating mb-3">
        <input value={{object.unit_price}} name="unit_price" class="form-control" id="id_unit_price" type="number" placeholder="単価" min="0">
        <label for="id_unit_price">単価</label>
    </div>

    <div class="form-floating mb-3">
        <input value={{object.inventory_quantity}} name="inventory_quantity" class="form-control" id="id_inventory_quantity" type="number" placeholder="単価" min="0">
        <label for="id_inventory_quantity">在庫数</label>
    </div>

    <!-- 参考リンク -->
    <!--  https://getbootstrap.jp/docs/5.3/forms/floating-labels/-->
    <!-- https://developer.mozilla.org/ja/docs/Web/HTML/Reference/Elements/textarea -->
    <div class="form-floating mb-3">
        <textarea style="height: 150px" name="description" class="form-control" id="id_description" type="text" placeholder="説明文">{{object.description}}</textarea>
        <label for="id_description">説明文</label>
    </div>

    <!-- 参考リンク -->
    <!-- https://blog1.mammb.com/entry/2019/12/11/090000 -->
    <!-- http://html5.cyberlab.info/elements/forms/input-accept.html -->
    <div class="custom-file">
        <small class="text-muted">選択済みの画像：{{object.image1}}</small>
        <input accept="image/*" value={{object.image1}} name="image1" class="form-control" id="id_image1" type="file" class="custom-file-input">
    </div>
{% endblock card_body %}

{% block card_anchor %}<a class="small" href={% url "inventory_register:detail" object.pk %}>詳細ページに戻る</a>{% endblock card_anchor %}